*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  text-align: center;
  line-height: 90%;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
  padding-top: 10%;
  line-height: 90%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 5vi 20px 5vi;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.header__theme-toggler {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-left: 0px;
}

.header__theme-button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 0px;
  background-color: transparent;
}

.header__theme-button_is-active {
  font-weight: 700;
  position: relative;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  inset: 14px 0px 0px -3px;
  background-color: var(--accent-color);
  width: 80px;
  height: 0.3em;
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  inset: 14px 0px 0px -3px;
  background-image: url("../images/pattern.svg");
  width: 70px;
}

button:focus {
  outline: none;
}

button:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.header__theme-button_is-active:hover {
  text-decoration: none;
}

button:disabled {
  pointer-events: none;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

button:focus-visible {
  outline: 1px solid currentColor;
}

a:focus-visible {
  outline: 1px solid currentColor;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:nth-child(4)):not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

.content__blockquote {
  font-style: italic;
  line-height: 200%;
  width: 75%;
  margin: 0 auto;
}

.content__list {
  list-style-type: none;
  margin-inline-start: 40px;
  padding: 0px;
}

.content__list li {
  position: relative;
}

.content__list li::before {
  content: '';
  position: absolute;
  inset: 18% 0px 2px -25px;
  width: 15px;
  height: 15px;
  background-image: url("../images/marker-light.svg");
  background-position: center;
}

.theme_dark .content__list li::before {
  background-image: url("../images/marker-dark.svg");
}

.content__list li:not(:last-child) {
  margin-bottom: 10px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  background-color: var(--accent-color);
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 3px;
  margin-right: 2px;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  border: 1px solid currentColor;
}

.content__picture {
  width: 100%;
}

.content__figure {
  margin-top: 9%;
  margin-bottom: 7%;
  width: calc(100% + 10vi);
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -5vi;
}

.content__picture-caption {
  padding: 20px 0px;
  text-align: center;
  border-bottom: 1px solid currentColor;
  font-size: 18px;
}

.content__card {
  aspect-ratio: 4 / 3;
  width: 100%;
  margin-top: 8%;
  border: 1px solid currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content__card-title {
  font-size: 60px;
  line-height: 90%;
  position: relative;
  z-index: 0;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.content__card-subtitle {
  text-align: center;
  font-size: 18px;
}

.colored-text::after {
  content: '';
  position: absolute;
  inset: 32px 0px 0px -2px;
  background-color: var(--accent-color);
  width: 220px;
  height: 0.25em;
  z-index: -1;
}

.theme_dark .colored-text::after {
  content: '';
  background-image: url("../images/pattern.svg");
}

.footer {
  text-align: center;
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid currentColor;
}

.footer__copyright {
  color: currentColor;
  font-size: 18px;
  font-family: inherit;
}

